[submodule "RepoAudit"]
	path = RepoAudit
	url = git@github.com:aryawu0513/RepoAudit.git
[submodule "VulnLLM-R"]
	path = VulnLLM-R
	url = git@github.com:aryawu0513/VulnLLM-R.git
[submodule "VulTrial"]
	path = VulTrial
	url = git@github.com:aryawu0513/VulTrial.git
	branch = main
[submodule "OpenVul"]
	path = OpenVul
	url = git@github.com:aryawu0513/OpenVul.git
[submodule "Vul-RAG"]
	path = Vul-RAG
	url = git@github.com:aryawu0513/KnowledgeRAG4LLMVulD.git
[submodule "overleaf"]
	path = writing_overleaf
	url = https://git.overleaf.com/6997e89ba8d32ca6c5a34c47
